
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/favicon-16x16.png">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/basics")
    @Scripts.Render("~/bundles/koext")
    @Scripts.Render("~/bundles/vms")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Financial Charts", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Payoff Charts", "PayoffCharts", "Home", null)</li>
                    <li>@Html.ActionLink("Option Prices", "OptionPrices", "Home", new {area = ""}, null)</li>
                    <li>@Html.ActionLink("Stocks", "StockAnalysis", "Home", new {area = ""}, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home", new {area = ""}, null)</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container main">
        <div class="row">
            @RenderBody()
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - PayOffCharts - Jan Fajfr</p>
        </footer>
    </div>
</body>
</html>